<!-- [ Striped-Hover-table ] start -->

{%if table_title or table_description%}
<div class="card-header">
	{%if table_title%}
	<h5>{{ table_title }}</h5>
	{%endif%}
	{%if table_description%}
	<span class="d-block m-t-5">{{ table_description }}</span>
	{%endif%}
</div>
{%endif%}
<div class="card-block table-border-style">
	<div class="table-responsive">
		<table id="{{table_id}}" class="table table-striped">
			<thead>
			<tr>
				{%if index_col%}
				<th>#</th>
				{%endif%}
				{% for header in table_dictionary['columns'] %}
				<th>{{header}}</th>
				{%endfor%}
			</tr>
			</thead>
			<tbody>
			{% for row in table_dictionary['data']%}
			<tr>
				{%if index_col%}
				<th>{{table_dictionary['index'][loop.index0]}}</th>
				{%endif%}
				{% for col in row %}
				<td>{{ col }}</td>
				{%endfor%}
			</tr>
			{%endfor%}
			</tbody>
		</table>
	</div>
</div>
<!-- [ Striped-Hover-table ] end -->
