{% extends "layouts/base.html" %}

{% block content %}

<section class="pcoded-main-container">
	<div class="pcoded-wrapper pcoded-content pcoded-inner-content main-body">
		<!-- [Place Forms Here] -->
		<form class="page-wrapper card" method="POST">
			<div class="card-header"><h5>Card Heading</h5></div>
			<div class="card-body row">
				<!-- [Form Groups Here] -->
				<div class="col-md-6">


				</div>
				<div class="col-md-6">

				</div>
			</div>
			<div class="card-footer text-right">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</section>

{% endblock content %}
